ember-halo/n8n-workflows/02-special-request-created.json
{
  "name": "Ember Halo — 02 special_request_created",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ember-halo/special_request_created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/admins?id=eq.{{ $json.admin_id }}&select=notify_phone,notify_email,active_city",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Accept-Profile", "value": "ember_halo" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Get Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/special_requests?id=eq.{{ $('Webhook').item.json.conversation_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Profile", "value": "ember_halo" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"pending_admin\"}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000003",
      "name": "Mark High Priority",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_FROM_NUMBER }}",
        "to": "={{ $('Get Admin').item.json[0].notify_phone }}",
        "message": "=SPECIAL REQUEST — Customer needs personal attention. Channel: {{ $('Webhook').item.json.channel }}. City: {{ $('Get Admin').item.json[0].active_city }}. Open your Ember Halo dashboard now."
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000004",
      "name": "SMS Admin URGENT",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": { "twilioApi": { "id": "twilio-cred", "name": "Twilio" } }
    },
    {
      "parameters": {
        "fromEmail": "noreply@emberhalo.com",
        "toEmail": "={{ $('Get Admin').item.json[0].notify_email }}",
        "subject": "Special Request Needs Attention — Ember Halo",
        "text": "=A customer has made a special request that needs your personal attention.\n\nChannel: {{ $('Webhook').item.json.channel }}\nCity: {{ $('Get Admin').item.json[0].active_city }}\nSummary: {{ $('Webhook').item.json.request_summary }}\nTime: {{ $('Webhook').item.json.timestamp }}\n\nPlease log into your Ember Halo dashboard immediately to review and respond.\n\n— Ember Halo Alert System"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000005",
      "name": "Email Admin URGENT",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 400],
      "credentials": { "smtp": { "id": "smtp-cred", "name": "SMTP" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/notification_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Profile", "value": "ember_halo" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "admin_id", "value": "={{ $('Webhook').item.json.admin_id }}" },
            { "name": "event_type", "value": "special_request_created" },
            { "name": "conversation_id", "value": "={{ $('Webhook').item.json.conversation_id }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000006",
      "name": "Log Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"received\": true}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000007",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Get Admin", "type": "main", "index": 0 }]
      ]
    },
    "Get Admin": {
      "main": [
        [{ "node": "Mark High Priority", "type": "main", "index": 0 }]
      ]
    },
    "Mark High Priority": {
      "main": [
        [
          { "node": "SMS Admin URGENT", "type": "main", "index": 0 },
          { "node": "Email Admin URGENT", "type": "main", "index": 0 }
        ]
      ]
    },
    "SMS Admin URGENT": {
      "main": [
        [{ "node": "Log Notification", "type": "main", "index": 0 }]
      ]
    },
    "Email Admin URGENT": {
      "main": [
        [{ "node": "Log Notification", "type": "main", "index": 0 }]
      ]
    },
    "Log Notification": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "a1b2c3d4-0002-0002-0002-version-0002",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "ember-halo-wf-02",
  "tags": [{ "name": "ember-halo" }]
}
