ember-halo/n8n-workflows/04-payment-failed.json
{
  "name": "Ember Halo — 04 payment_failed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ember-halo/payment_failed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/orders?id=eq.{{ $json.order_id }}&select=conversation_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Accept-Profile", "value": "ember_halo" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000002",
      "name": "Get Order Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations?id=eq.{{ $json[0].conversation_id }}&select=customer_session_id,customer_phone,channel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Accept-Profile", "value": "ember_halo" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000003",
      "name": "Get Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EMBER_HALO_API_BASE }}/api/conversation/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $('Get Order Conversation').item.json[0].conversation_id }}\",\n  \"customer_session_id\": \"{{ $('Get Conversation').item.json[0].customer_session_id }}\",\n  \"customer_message\": \"__SYSTEM_PAYMENT_RETRY__\",\n  \"channel\": \"{{ $('Get Conversation').item.json[0].channel }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Trigger AI Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/admins?id=eq.{{ $('Webhook').item.json.admin_id }}&select=notify_phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Accept-Profile", "value": "ember_halo" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000005",
      "name": "Get Admin Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_FROM_NUMBER }}",
        "to": "={{ $json[0].notify_phone }}",
        "message": "=Payment issue on order {{ $('Webhook').item.json.order_id }}. Customer may need assistance. Check your Ember Halo dashboard."
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000006",
      "name": "SMS Admin",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": { "twilioApi": { "id": "twilio-cred", "name": "Twilio" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/notification_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Profile", "value": "ember_halo" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "admin_id", "value": "={{ $('Webhook').item.json.admin_id }}" },
            { "name": "event_type", "value": "payment_failed" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000007",
      "name": "Log Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"received\": true}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000008",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Get Order Conversation", "type": "main", "index": 0 }]
      ]
    },
    "Get Order Conversation": {
      "main": [
        [{ "node": "Get Conversation", "type": "main", "index": 0 }]
      ]
    },
    "Get Conversation": {
      "main": [
        [{ "node": "Trigger AI Follow-up", "type": "main", "index": 0 }]
      ]
    },
    "Trigger AI Follow-up": {
      "main": [
        [{ "node": "Get Admin Phone", "type": "main", "index": 0 }]
      ]
    },
    "Get Admin Phone": {
      "main": [
        [{ "node": "SMS Admin", "type": "main", "index": 0 }]
      ]
    },
    "SMS Admin": {
      "main": [
        [{ "node": "Log Notification", "type": "main", "index": 0 }]
      ]
    },
    "Log Notification": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "a1b2c3d4-0004-0004-0004-version-0004",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "ember-halo-wf-04",
  "tags": [{ "name": "ember-halo" }]
}
